p{
      font-family: 'Times New Roman';
      background-color: green;
      width: fit-content;
      color: whitesmoke;
}
body{
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20;
}